/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        
        padding: 0 10px;
    }
    
    


/* HEADER */

    header {

        align-items: center;
        flex-direction: column;
    }


    .logoAlign {

        padding: 30px;
    }

    .contentBlue:hover {
        border-top: 0px;
        border-bottom: 2px solid;
        border-color: var(--main-color);
        color: var(--main-color);
      }

/* FORMS */

.inputSubmit {
    width: 49px;
    height: 49px;
    background-color: var(--main-color);
    border-radius: 16px;
    color: white;
    border: hidden;
  }

/* FILTERS */

    .filters-button {

        flex-wrap: wrap;
    }

    .filters-button button {

        margin-bottom: 18px;
        margin-left: 4px;
        margin-right: 14px;
    }

    .filters p {

        font-size: 15px;
    }

    .filters button {

        width: 155px;
    }

/* POPULAIRES */
    .hebergements-and-populaires {

        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {

    
    }

    .populaires-cards {

        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }
/* HEBERGEMENTS */

    .hebergements {

        background-color: white !important;
    }

    .cards-column {

        flex-direction: column;
    }

/* ACTIVITES */

    .activites-cards {

        flex-direction: column;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column !important;
    }

    footer div {

        width: 99%;
    }
  }