/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0px;
  }

  body {
    display: flex;
    justify-content: center;
  }

  /* HEADER */

  header {
    align-items: center;
    flex-direction: column;
  }

  .logoAlign {
    padding: 30px;
  }

  .contentBlue:hover {
    border-top: 0px;
    border-bottom: 2px solid;
    border-color: var(--main-color);
    color: var(--main-color);
  }

    .contentBlue a:hover {

        border-top: 0px;
        margin: 0px;
    }

  .contentBlue {

    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: var(--main-bg-color);
  }

  .directionRow {

    width: 100%;
    justify-content: center;
  }

  .margin-right {

    margin-right: 0px;
  }

  /* FORMS */

  .recherche {
    padding-left: 18px;
    padding-right: 18px;
  }

  .inputText {

    width: 78%;
  }

  .inputSubmit {
    width: 49px;
    height: 49px;
    border-radius: 16px;
    margin-left: -9px;
    color: white;
    border: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .inputSubmit  {
    display: none;
  }

  .inputSubmit i {
    display: contents;
  }

  /* FILTERS */

  .filters {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .filters button {
    height: 47px;
    padding: 4px 15px;
    width: 155px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 18px;
    margin-left: 4px;
    margin-right: 3px;
    width: 100%;
  }

  .filters-button {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }

  .filters-button .group {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .filters-title h3 {
    margin-top: 0;
  }

  /* INFO LOGEMENT */

  .infos-logement {
    margin: 0px;
  }

  /* POPULAIRES */
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
  }

  .populaires {
    margin-top: 30px;
  }

  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards a {
    width: 97%;
  }

  .populaires-cards .card {
    width: 100%;
  }
  /* HEBERGEMENTS */

  .hebergements {
    background-color: white !important;
  }

  .cards-column {
    flex-direction: column;
    align-items: center;
  }
  /* ACTIVITES */

  .activites {
    padding: 30px;
  }

  .activites-cards {
    flex-direction: column;
  }

  .activites-cards .card {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  footer div {
    width: 88%;
    padding-top: 25px;
    padding-left: 45px;
    padding-bottom: 0px;
    padding-right: 0px;
  }
}
